@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  * {
    border-color: theme('colors.border', hsl(var(--border)));
  }
  
  body {
    @apply bg-background text-foreground;
    font-family: system-ui, -apple-system, sans-serif;
  }
}